<%= link_to 'HOME', root_path %>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Cate njeri</h2>
        <p><span class="indent"></span>I started programming when i joined campus with basic HTML and CSS. After a while I discovered i needed to learn more.Therefore I decided to join <a href="https://moringaschool.com">Moringa School</a> to be a Full_stack developer.</p>

        <p><span class="indent"></span>Despite the sometime 70 hour weeks, I love my time at Moringa school, and my skills as a developer has grown exponentially. Primarily focusing on Angular JS, Ruby on Rails, and Design, I get to build some really cool things; from a text-based pingpong game to a developer networking site.</p>
        <p><span class="indent">Ideally, I'd love to combine my skills as a developer with my background education and really leverage my entire skillset to help small businesses and non-profits.</span></p>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">The Girl Behind the Code</h2>
         <img class="img-responsive" src= "/me.jpg" height="150px" width="150px">  

       
          <p>I firmly believe in working hard and playing hard. When I'm not programming I am doing a ton of other things. Top hobbies include swimming, watching movies, nature walks with friends and listening and dancing to music. I'm deeply passionate about fasion trends and new technology trends.</p>

          <p>If you want to get in contact with me, feel free to email me at <a href="mailto:njerikaris2@gmail.com">me.com</a></p>
      </div>
    </div>
  </div
</section>
